@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
   79 , supreme colony MIDC Area , Jalgaon , Maharashtra<br />
   425001<br />
    <abbr title="Mobile">8421180837</abbr>
     
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">pavansonawane626@gmail.com</a><br />
    
</address>